<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/quizMain.css">
  <title>Admin</title>
</head>

<body>
  <%- include('header') -%>
  <h2 style="color: darkblue">Admin</h1>
  <ul>
    <% if (quizzes && quizzes.length > 0) { %>
      <% quizzes.forEach(quiz => { %>
        <div class="quiz-box">
          <li>
            <h3><%= quiz.title %></h3>
            <p>Time Limit: <%= quiz.timeLimit %></p>
            <p>Score: <%= quiz.score %></p>
            <p>Number of Questions: <%= quiz.numQuestions %></p>
            <p>Quiz Type: <%= quiz.quizType %></p>
            <!-- Add subject to the View Quiz link -->
            <a href="/auth/quizMain/<%= quiz._id %>/<%= quiz.subject %>">View Quiz</a>
            <form id="deleteQuizButton" action="/auth/quizMain/<%= quiz._id %>?_method=DELETE" method="POST">
              <button style="background-color: red; transition: background-color 0.3s;" type="submit" onmouseover="this.style.backgroundColor='lightcoral'" onmouseout="this.style.backgroundColor='red'">Delete</button>
          </form>
          </li>
        </div> 
      <% }); %>
    <% } else { %>
      <p>No quizzes available.</p>
    <% } %>
  </ul>

  <!-- Add New Quiz Form -->
  <h2>Add New Quiz:</h2>
  <form action="/auth/quizMain" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="timeLimit">Time Limit:</label>
    <input type="text" id="timeLimit" name="timeLimit" required>

    <label for="score">Score:</label>
    <input type="number" id="score" name="score" required>

    <label for="numQuestions">Number of Questions:</label>
    <input type="number" id="numQuestions" name="numQuestions" required>

    <!-- Select the type of quiz (MCQ or True/False) -->
    <label for="quizType">Type of Quiz:</label>
    <select id="quizType" name="quizType" required>
      <option value="multiple_choice">Multiple Choice</option>
      <option value="true_false">True/False</option>
    </select>

    <!-- Add subject input field to the form -->
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required>

    <button type="submit" class="btn btn-primary">Create Quiz</button>
  </form>

  <%- include('footer') -%>
</body>

</html>
