<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cssFiles/userQuizPage.css">
  <title>User</title>
</head>

<body>

 <h1>Quizzes</h1>

  <ul>
    <% if (quizzes && quizzes.length> 0) { %>
      <% quizzes.forEach(quiz=> { %>
        <div class="quiz-box">
        <li>
          <h3>
            <%= quiz.title %>
          </h3>
          <p>Time Limit: <%= quiz.timeLimit %>
          </p>
          <p>Score: <%= quiz.score %>
          </p>
          <p>Number of Questions: <%= quiz.numQuestions %>
          </p>
          <p>Quiz Type: <%= quiz.quizType %>
          </p>
          <a href="/auth/userQuizPage/<%= quiz._id %>">View Quiz</a>
        </li>
      </div>

        <% }); %>
          <% } else { %>
            <p>No quizzes available.</p>
            <% } %>
  </ul>
  <a href="/layoutUser">Back to layout</a>
</body>

</html>